@import "/styles/common/common.css";

main {
  margin-top: 5vw;
  display: flex;
  justify-content: center;
}
.square {
  border: 1.2vw solid black;
}

#back {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  gap: 3vw;;
  background-color: #f9f9f9;
  box-shadow: 3px 3px 3px #d7d7d7;
}
#back .item-1 {
  grid-column-start: 2;
}
#back .item-2 {
  grid-column-start: 3;
  transform: translate(-.7vw, .7vw);
}
#back .item-3 {
  grid-row-start: 2;
  grid-column-start: 2;
}
#back .item-4 {
  grid-row-start: 2;
  grid-column-start: 3;
  transform: translate(-1vw, -1vw);
}
#back .item-5 {
  grid-row-start: 3;
  grid-column-start: 1;
  transform: translate(1vw, -1vw);
}
#back .item-6 {
  grid-row-start: 3;
  grid-column-start: 3;
  transform: translate(-2.4vw, -2.4vw);
}

#front {
  display: grid;
  grid-template-rows: repeat(2, 10vw);
  grid-template-columns: repeat(2, 10vw);
  gap: 3vw;
  justify-content: center;
  position: absolute;
  width: 100vw;
  top: 11.5vw;
}
#front .item-10 {
  transform: translate(-1vw, -1vw);
}