@import "/styles/common/normalize.css";

body {
  font-family: 'Lato', sans-serif;
}
#page-header {
  box-shadow: 0 3px 3px #e4e4e4;
  padding-bottom: 2px;
  margin-bottom: 30px;
}
#page-header h1 {
  text-align: center;
}

main {
  width: 80vw;
  margin: 0 auto;
}
article {
  margin-bottom: 30px;
}
.list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 200px;
  gap: 30px;
}
.list .item {
  background-color: blueviolet;
  text-decoration: none;
  box-shadow: 4px 4px 7px grey;
  text-shadow: 1px 1px black;
}
.list .item:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.list .item .layer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: rgba(118, 71, 162, .4);
  font-weight: 600;
  text-align: center;
}

.list .item-1 {
  background: url('/images/index/exercise-1.png') no-repeat center center;
  background-size: contain;
}

.list .item-2 {
  background: url('/images/index/layout_example.png') no-repeat center center;
  background-size: contain;
}
.list .item-3 {
  background: url('/images/index/abstract_grid.jpg') no-repeat center center;
  background-size: contain;
}
.list .item-4 {
  background: url('/images/index/piet-mondrian_about-society6.jpg') no-repeat center center;
  background-size: contain;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (max-width: 667px) {  
  #article-1, #activities .activities-container { 
    padding: 0 5% 60px;
  }
}