@import "/styles/common/common.css";

body {
  height: 100vh;
  min-width: 350px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: minmax(250px, .2fr) 1fr;
  grid-template-rows: 70px 50px 1fr 50px;
  grid-template-areas: 
    "nav    nav" 
    "aside  header" 
    "aside  main" 
    "footer footer";
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hamburger-menu {
  grid-area: hamburger;
  display: none;
  cursor: pointer;
}
#hamburger-menu .menu-toggler span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #cdcdcd;
  border-radius: 3px;
}
#menu {
  grid-area: nav;
  background-color: #9C27B0;
}
#side-bar {
  grid-area: aside;
  background-color: #25d0d0;
}
#header {
  grid-area: header;
  background-color: white;
}
#content {
  grid-area: main;
  background-color: #ec847f;
}
#footer {
  grid-area: footer;
  background-color: #c7be40;
}

@media (max-width: 1200px) {
  body {
    grid-template-columns: minmax(150px, .2fr) 1fr;
    grid-template-rows: 70px 1fr 50px;
    grid-template-areas: 
      "nav    nav"
      "aside  main"
      "footer footer";
  }

  #header {
    display: none;
  }
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 70px 1fr;
    grid-template-rows: 70px 1fr 50px;
    grid-template-areas: 
      "hamburger  nav"
      "main       main"
      "footer     footer";
  }

  #hamburger-menu {
    display: inherit;
  }
  #header, #side-bar {
    display: none;
  }
}