@import "/styles/common/common.css";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
main {
  display: grid;
  grid-template-columns: 33px 66px 50px 50px 100px 50px 25px;
  grid-template-rows: 50px 100px 100px 66px 50px 25px 25px 25px 25px;
}

.cell {
  border: 3px solid;
}

.item-1 {
  grid-column: span 2;
}
.item-3 {
  grid-column: span 2;
}
.item-4 {
  grid-column: span 2;
}
.item-7 {
  grid-column: span 3;
  grid-row: span 2;
}
.item-10 {
  grid-column: span 2;
}
.item-13 {
  grid-column: span 2;
  grid-row: span 3;
}
.item-14 {
  grid-column: span 2;
}
.item-16 {
  grid-column: span 2;
  grid-row: span 2;
}
.item-17 {
  grid-column: span 2;
  grid-row: span 3;
}
.item-18 {
  grid-row: span 3;
}
.item-19 {
  grid-column: span 2;
  grid-row: span 4;
}
.item-20 {
  grid-row: span 2;
}
.item-21 {
  grid-row: span 2;
}
.item-22 {
  grid-column: span 2;
  grid-row: span 2;
}
.item-23 {
  grid-row: span 2;
}
.item-24 {
  grid-column: span 2;
}

.bt-0 {
  border-top: none;
}
.br-0 {
  border-right: none;
}
.bb-0 {
  border-bottom: none;
}
.bl-0 {
  border-left: none;
}

.yelow {
  background-color: #E8CF0B;
}
.red {
  background-color: #CD0001;
}
.blue {
  background-color: #031170;
}
.black {
  background-color: black;
}