#content {
  background-color: var(--light-grey);
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 57px);
  overflow: auto;
}
#content .content-header {
  background-color: var(--white);
  border-bottom: 1px solid #dcdcdc;
  flex: 0 0 60px;
}
#content .content-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
}
#content .content-wrapper article {
  max-width: 75%;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
#content .content-wrapper article .article-wrapper {
  display: flex;
}
#content .content-wrapper article .article-wrapper .col-left {
  flex: 0 0 calc(50% - 5px);
  /* align-self: flex-end; */
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
#content .content-wrapper article .article-wrapper .col-right {
  flex: 0 0 calc(50% - 5px);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  margin-left: auto;
}
#content .content-wrapper article .article-wrapper .top-square {
  flex: 0 0 calc(50% - 5px);
}
#content .content-wrapper article .article-wrapper .bottom-square {
  flex: 0 0 calc(50% - 5px);
  padding-top: 10px;
}
#content .content-wrapper article .article-wrapper .bg-image img {
  width: 100%;
}
#content .content-wrapper article .article-wrapper .over {
  padding: 30px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  display: flex;
  align-items: center;
  border: 1px solid whitesmoke;
}
#content .content-wrapper article .article-wrapper .over h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 4vw;
  text-align: center;
}