body {
  background-color: #0e0e0e;
  font-family: 'Open Sans', sans-serif;
}
header {
  padding: 12px 17px;
  background: var(--light-blue);
  background: -moz-linear-gradient(left, var(--light-blue) 0%, var(--violet) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, var(--light-blue)), color-stop(100%, var(--violet)));
  background: -webkit-linear-gradient(left, var(--light-blue) 0%, var(--violet) 100%);
  background: -o-linear-gradient(left, var(--light-blue) 0%, var(--violet) 100%);
  background: -ms-linear-gradient(left, var(--light-blue) 0%, var(--violet) 100%);
  background: linear-gradient(to right, var(--light-blue) 0%, var(--violet) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--light-blue), endColorstr=var(--violet), GradientType=1 );
  border-radius: 9px 9px 0 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
}
header nav ul li {
  margin: 0 11px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 13px;
  color: var(--white);
}

/* LOGO */
header nav .logo {
  margin-right: 10px; 
}
header nav .logo img {
  width: 60px;
}

/* MENU */
header nav .menu {
  margin-right: auto;
}
header nav .menu .menu-message a {
  font-style: italic;
  opacity: .5;
}
header nav .actions .action-item .action-btn {
  background-color: var(--dark-violet);
  padding: 7px 15px;
  border-radius: 3px;
}
header nav .actions .action-item .action-dropdown {
  background-color: var(--white);
  padding: 7px 10px 7px 18px;
  border-radius: 3px;
}
header nav .actions .action-item .action-dropdown span,
header nav .actions .action-item .action-dropdown i {
  color: var(--black);
}
header nav .actions .action-item .action-dropdown i {
  font-size: 20px;
  position: relative;
  top: 5px;
  right: -3px;
}