aside {
  display: flex;
}

/* SIDEBAR MENU */
#sidebar-menu {
  background-color: var(--light-black);
  flex: 0 0 70px;
}
#sidebar-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar-menu ul li {
  text-align: center;
  padding: 13px;
}
#sidebar-menu ul li.active {
  background-color: var(--grey);
}
#sidebar-menu ul li a,
#sidebar-menu ul li i {
  color: var(--white);
}
#sidebar-menu ul li a {
  text-decoration: none;
  font-size: 10px;
}
#sidebar-menu ul li i {
  font-size: 23px;
}

/* SIDEBAR MENU CONTENT */
#sidebar-content {
  background-color: var(--grey);
  flex: 1;
  padding: 15px 20px;
  position: relative;
}
#sidebar-content .search {
  position: relative;
}
#sidebar-content .search i {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 20px;
  font-weight: 600;
}
#sidebar-content .search input {
  border: none;
  padding: 16px 10px 14px 40px;
  font-size: 13px;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}
#sidebar-content .sidebar-content-wrapper {
  max-height: calc(100vh - 132px);
  overflow: auto;
  padding-bottom: 15px;
  box-sizing: border-box
}
#sidebar-content article .content-header {
  display: flex;
  align-items: center;
  padding: 20px 0 10px;
  color: var(--white);
  font-size: 12px;
}
#sidebar-content article .content-header .all-link {
  margin-left: auto;
  display: flex;
  align-items: center;
}
#sidebar-content article .content-header .all-link i {
  font-size: 22px;
}
#sidebar-content article .content-header span:last-child {
  margin-left: auto;
}
#sidebar-content article .images-wrapper {
  display: flex;
  justify-content: space-between;
}
#sidebar-content article .images-wrapper .image {
  flex: 0 0 48%;
}
#sidebar-content article .images-wrapper .image img {
  width: 100%;
}
#collapse {
  position: relative;
  max-width: 510px;
  /* pointer-events: none; */
}
#collapse .close-sidebar {
  position: absolute;
  top: 50%;
  right: -15px;
  background-color: var(--grey);
  height: 70px;
  text-align: center;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  cursor: pointer;
}
#collapse .close-sidebar i {
  color: var(--white);
  font-size: 23px;
  padding: 0;
  margin: 0;
  text-align: center;
}
#collapse input[name="collapse"] {
  display: none;
}
#collapse input[name="collapse"]:checked ~ aside #sidebar-content {
  display: none;
}
.pointerable {
  pointer-events: all;
}